<div class="container">
  <h1>My Todo list</h1>
  <div class="table-responsive">
    <table class="table table-striped table-hover" *ngIf="todos && todos.length > 0">
      <thead>
        <tr>
          <th>Status</th>
          <th>Title</th>
          <th>Description</th>
          <th>Date Created</th>
          <th>Controls</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos, let index = index">
          <td><input type="checkbox" [checked]="todo.done" (change)="buttonClickCompleteTask(index)" /></td>
          <td [ngClass]="{'done': todo.done, 'not-done': !todo.done}">{{todo.title}}</td>
          <td [ngClass]="{'done': todo.done, 'not-done': !todo.done}">{{todo.description}}</td>
          <td>{{todo.lastModifiedDate | date}}</td>
          <td>
            <button
              class="btn btn-light btn-edit mr-3 mb-3 mb-md-0"
              (click)="buttonClickEdit(todo)">
              <i class="fas fa-cog"></i>
            </button>
            <button
              class="btn btn-light"
              (click)="buttonClickDelete(todo.id, index)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="text-center col-12">
      <button class="btn btn-light cst-btn-xl" (click)="clickAddTodo()">+</button>
    </div>
  </div>
</div>
